<section class="medium-top">
		<div class="container">
			<div class='row'>
				<div class="col-lg-6 offset-lg-3">

          <% unless flash[:notice] %>

            <p>Digite seu email cadastrado para recuperação da senha!</p>

          	<% if flash[:alert] %>
    					<p class='error medium-bottom blink'><%= flash[:alert] %></p>
            <% end %>

            <%= simple_form_for(:employer, url: :employer_reset_password, method: :post) do |f| %>

							<div class="custon_field left-addon" style="margin-top: 30px">
								<div class="icon">
									<i class="material-icons" style="color: white;">email</i>
								</div>
								<%= f.input :email, label: false, placeholder:"e-mail", class:"form-control" %>
							</div>
      				<center>
								<%= button_tag(class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Enviando..."}) do %>
							    <div class="d-flex">
							      <span class="material-icons" style="">check</span>
							      <span style="margin-left: 5px">Enviar</span>
							    </div>
							  <% end %>
      				</center>
      			<% end %>

          <% else %>
            <p class='success medium-bottom blink'><%= flash[:notice] %></p>
          <% end %>
				</div>
			</div>
		</div>
	</section>
