<section id="show-users">

  <div class="row d-flex justify-content-center form-search-user">
    <div class="col-8 col-sm-6 col-md-4 form">
      <%= simple_form_for :search, url: list_user_path(:search), method: :get do |f| %>
        <div class="d-flex justify-content-center form-input">
          <div class="input-search">
            <%= f.input :q, label: false, placeholder:"pesquisar usuário" %>
          </div>
          <div class="btn-search">
            <%= button_tag(id:"btn-search", class: "btn btn-primary",
                data: {disable_with: "<i class='fa fa-spinner fa-spin' style='color: white;'></i>"}) do %>
              <i class="material-icons md-18" style="color: white; padding-top: 4px;">search</i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">
    <% unless @model.blank? %>
      <% @model.each do |row| %>
        <%= render partial:"frontend/shared_site/search_users", locals: { row: row } %>
      <% end %>
      <div class="row d-flex justify-content-center">
        <%= paginate @model, theme: '../kaminari' %>
      </div>
    <% else %>
      <%= render partial:"frontend/shared_site/no_results" %>
    <% end %>
  </div>
</section>
