<section id="show-users">
  <div class="row d-flex justify-content-center form-search-user">
    <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 d-flex justify-content-center input-search">
      <%= search_form_for @q, url: search_user_path do |f| %>
        <div class="d-flex">
          <%= f.search_field :name_cont, placeholder: 'por nome' %>
          <%= f.search_field :skills_name_start, placeholder: 'por habilidade' %>
          <div class="justify-content-center btn-search">
            <%= button_tag(id:"btn-search", class: "btn btn-primary",
                data: {disable_with: "<i class='fa fa-spinner fa-spin' style='color: black;'></i>"}) do %>
              <i class="material-icons md-18" style="color: #546E7A; padding-top: 4px;">search</i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">
    <% unless @model.blank? %>
      <% @model.each do |row| %>
        <%= render partial:"frontend/shared_site/search_users", locals: { row: row } %>
      <% end %>
      <div class="row d-flex justify-content-center">
        <%= paginate @model, theme: '../kaminari' %>
      </div>
    <% else %>
      <%= render partial:"frontend/shared_site/no_results" %>
    <% end %>
  </div>
</section>
