<section id="search-publications">
  <div class="container-fluid">
    <% @model.each do |row| %>
      <%= link_to root_path do %>
        <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
          <div class="col-md-8 col-12  publication">

            <div class="row">
              <div class="col-9 d-flex flex-column information">
                <p class="title"><%= row.title %></p>
                <p class="vacancies" style="color: #546E7A;">vagas: <%= row.vacancies %></p>
                <% if row.remunaration.present? %>
                  <p class="remunaration" style="color: #546E7A;">R$ <%= row.remunaration %></p>
                <% end %>
              </div>
              <div class="col-3 location_and_type">
                <div class="row">
                  <div class="col-9" style="padding: 0px;">
                    <div class="type"><%= row._type %></div>
                  </div>
                  <div class="col-3" style="padding: 0px;">
                    <% if row.location.present? %>
                      <i class="material-icons" style="color: #fdc000;" title="possui local">place</i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12" style="padding: 0px;">
                <div class="" style="padding: 10px;">
                  <% text =  strip_tags(row.information) %>
                  <p><%= truncate(text, length: 160) {link_to "Continuar", "#"} %></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
