<section id="screen_login_institution">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="d-flex">
						<%= image_tag("graduation", class:"img-fluid") %>
						<h1 style="color: white" class="title">Ajude estudantes e recém-formados</h1>
				</div>
				<div style="max-width: 700px; padding: 15px;">
						<p style="color: white"  class="d-sm-none">
							Você desempenha um papel importante ajudando seus alunos e ex-alunos a explorar suas opções
							de carreira e a encontrar seu primeiro emprego.
						</p>
						<p style="color: white"  class="d-none d-sm-block">
							Você desempenha um papel importante ajudando seus alunos a explorar suas opções
							de carreira e a encontrar seu primeiro emprego. Compartilhe oportunidades para seus
							alunos conhecerem os empregadores interessados e se candidatarem a empregos e estágios.
						</p>
				</div>
			</div>
			<div class="col-md-4">
					<div style="max-width: 400px">
						<div class="card card-login">
							<%= render partial: "layouts/notification/flash_messages" %>
							<div class="card-header">Login</div>

							<div class="card-body">
								<%= simple_form_for(:login, url: :sessions_institution, method: :post) do |f| %>
									<%= f.input :email, as: :email, label: false, class:"form-control", placeholder:"E-mail" %>
									<%= f.input :password, as: :password, label: false, class:"form-control", placeholder:"Password" %>
									<div class="d-flex justify-content-center">
										<%= button_tag(class: "btn", style:"width: 100%;", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Aguarde..."}) do %>
											Login
										<% end %>
									</div>
								<% end %>
							</div>
							<div class="d-flex justify-content-center">
								<%= link_to new_entity_institution_path, class:"badge badge-primary", style:"padding: 7px 29px 7px; margin: 10px" do %>
									<div class="d-flex">
										<i class="material-icons md-18" style="color: white">person_add</i>
										<span style="padding-top: 3px; padding-left: 4px">Criar conta</span>
									</div>
								<% end %>
								<% if Rails.env.development? %>
									<%= link_to institution_reset_password_path, class:"badge badge-secondary", style:"padding: 7px 5px 7px; margin: 10px" do %>
										<div class="d-flex">
											<i class="material-icons md-18" style="color: white">sentiment_dissatisfied</i>
											<span style="padding-top: 3px; padding-left: 4px">esqueci minha senha</span>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>
<%= render partial: "./layouts/frontend/footer" %>
