<section class="bg-dark" id="login_admin">
	<div class="container d-flex justify-content-center align-items-center">
		<div class="card card-login">
			<%= render partial: "layouts/notification/flash_messages" %>
			<div class="card-header">Login</div>
			<div class="card-body">
				<%= simple_form_for(:login, url: :sessions_employer, method: :post) do |f| %>
					<%= f.input :email, as: :email, label: false, class:"form-control", placeholder:"E-mail" %>
					<%= f.input :password, as: :password, label: false, class:"form-control", placeholder:"Password" %>
					<div class="d-flex justify-content-center">
						<%= f.button :button, class:"btn", style:"width: 100%;" do %>
							Login
						<% end %>
					</div>
					<%= link_to new_company_employer_path, class:"d-block small", style:"text-align: left" do %>
						Criar conta
					<% end %>
					<%= link_to employer_reset_password_path, class:"d-block small", style:"text-align: left" do %>
						Esqueceu a senha ?
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>
