<section id="info" style="background: white;">
  <div class="row" style="padding: 10% 5% 10%">
    <div class="col-md-4">
      <div class="row" style="margin-bottom: 5%; padding: 20px;">
        <div class="col-md-6 col-6">
          <%= image_tag('group', class:'img-fluid') %>
        </div>
        <div class="col-md-6 col-6">
          <%= image_tag('pencil', class:'img-fluid') %>
        </div>
      </div>
      <div class="row" style="padding: 20px;">
        <div class="col-md-6 col-6">
          <%= image_tag('job-search', class:'img-fluid') %>
        </div>
        <div class="col-md-6 col-6">
          <%= image_tag('project-management', class:'img-fluid') %>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex align-items-center info" style="padding: 0% 5% 0%;">
      <div>
        <div class="row card_text">
          <div class="col-md-10">
            <div class="d-flex justify-content-end">
              <span style="color: #80DEEA; border: 1px solid #80DEEA; border-radius: 10px; padding: 1px 8px 1px; font-size: 0.8em;">Novato</span>
            </div>
            <p style="text-align: center; color: #26C6DA; letter-spacing: 0.1em;">Faça parte da nossa comunidade, busque oportunidades e se conecte à pessoas
            com os mesmos interesses seus.</p>
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center">
              <%= image_tag("discussion", class:"img-fluid") %>
            </div>
          </div>
        </div>
        <div class="row card_text" style="padding-top: 6%;">
          <div class="col-md-10">
            <div>
              <div class="d-flex justify-content-end">
                <span style="color: #80DEEA; border: 1px solid #80DEEA; border-radius: 10px; padding: 1px 8px 1px; font-size: 0.8em;">Empregador</span>
              </div>
              <p style="text-align: center; color: #26C6DA; letter-spacing: 0.1em;">Recrute pessoas da nossa região,
                  use a tecnologia a seu favor e conheça alunos recém-formados e estudantes com o perfil do
                  seu negócio. Divulgue vagas de estágio ou emprego e saia na frente.</p>
            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center">
              <%= image_tag("job-search2", class:"img-fluid") %>
            </div>
          </div>
        </div>
        <div class="row card_text">
          <div class="col-md-10">
            <div class="d-flex justify-content-end">
              <span style="color: #80DEEA; border: 1px solid #80DEEA; border-radius: 10px; padding: 1px 8px 1px; font-size: 0.8em;">Instituição</span>
            </div>
            <p style="text-align: center; color: #26C6DA; letter-spacing: 0.1em;">A instituição de ensino possui um papel
               importante ajudando seus alunos e ex-alunos a explorar suas opções de
               carreira e a encontrar seu primeiro emprego.</p>
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center">
              <%= image_tag("graduation", class:"img-fluid") %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
