<section class="d-flex justify-content-center align-items-center" id="form_create">
  <div class="form">
    <p>Cadastrar</p>
    <%= simple_form_for([:frontend, @model]) do |f| %>

      <div class="custon_field left-addon" style="margin-top: 30px">
        <div class="icon">
          <i class="material-icons" style="color: white;">person</i>
        </div>
        <%= f.input :name, label: false, placeholder:"nome", class:"form-control" %>
      </div>

      <div class="custon_field left-addon" style="margin-top: 30px">
        <div class="icon">
          <i class="material-icons" style="color: white;">email</i>
        </div>
        <%= f.input :email, label: false, placeholder:"e-mail", class:"form-control" %>
      </div>

      <div class="custon_field left-addon" style="margin-top: 30px">
        <div class="icon">
          <i class="material-icons" style="color: white;">lock</i>
        </div>
        <%= f.input :password, label: false, placeholder:"senha", class:"form-control" %>
      </div>

      <div class="custon_field left-addon" style="margin-top: 30px">
        <div class="icon">
          <i class="material-icons" style="color: white;">lock</i>
        </div>
        <%= f.input :password_confirmation, label: false, placeholder:"confirmar senha", class:"form-control" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= button_tag(class: "btn", style:"width: 100%;", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Cadastrando..."}) do %>
          Cadastrar
        <% end %>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 10px;">
          _______ ou _______
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to login_facebook_path(provider:'facebook'), method: :post, class:"btn btn_login_face", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Aguarde..."} do %>
          <i class="fa fa-facebook" style="position: relative; left: -10%;"></i>Continuar com Facebook
        <% end %>
      </div>
    <% end %>
  </div>
</section>
