<section  id="show_profile">
  <section id="top">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div>
              <%= (image_tag @model.cover.url(:thumb), class:"img-fluid image_cover") unless @model.cover.blank? %>
              <%= (image_tag 'default_cover.jpg', class:"img-fluid image_cover") if @model.cover.blank? %>
              <div>
                <div class="edit-button">
                    <%= link_to frontend_user_profile_path, class:"btn btn-warning", style:"border-radius: 5px; border: 1px solid white" do %>
                      <div class="d-flex">
                        <span class="material-icons" style="color: #455A64">create</span>
                        <span style="margin-left: 5px; color: #455A64">Editar</span>
                      </div>
                    <% end %>
            		</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="user_info">
    <div class="container-fluid padding_10">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 avatar">
              <%= (image_tag @model.avatar.url(:thumb), class:"img-fluid img_avatar") unless @model.avatar.blank? %>
              <%= (image_tag 'default_user.jpeg', class:"img-fluid img_avatar") if @model.avatar.blank? %>
            </div>
            <div class="col-md-5 personal_info">
              <p class="info"><%= @model.name unless @model.name.blank?%></p>
            </div>
            <div class="col-md-4 contact_info">
              <div class="d-flex">
                <span class="material-icons" style="color: #607D8B">email</span>
                <span style="margin-left: 5px"><%= @model.email unless @model.email.blank?%></span>
              </div>
              <div class="d-flex">
                <span class="material-icons" style="color: #607D8B">phone</span>
                <span style="margin-left: 5px"><%= @model.user_extra.phone unless @model.user_extra.blank?%></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="bio_skill">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 bio">
              <h3>Biografia</h3>
              <p><%= @model.user_extra.bio unless @model.user_extra.blank?%></p>
            </div>
            <div class="col-md-5 skill">
              <h3>Habilidades</h3>
              <div class="row">
                <% @model.skills.each do |skill| %>
                  <button class="btn btn-secondary"><%= skill.name %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
