<nav id="nav-novato" class="navbar fixed-top navbar-expand-lg navbar-light" style="margin: 0px; background: white;
 border-bottom: 1px solid #90CAF9;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
   style="border: none;">
    <i class="material-icons" style="color: #90CAF9;">school</i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class:"logo d-none d-lg-block") %>
    <% end %>
    <ul class="navbar-nav ml-auto mr-auto ul-mobile" style="padding-right: 150px">
      <li class="nav-item">
        <%= link_to root_path, class:"nav-link" do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to list_posts_path, class:"nav-link" do %>
          Blog
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to search_publications_path, class:"nav-link" do %>
          Vagas
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_session_employer_path, class:"nav-link" do %>
          Empregador
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_session_institution_path, class:"nav-link" do %>
          Instituição
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav" style="padding-right: 100px; margin-left: 10px;">
      <li class="nav-item dropdown">
        <a class="nav-link usuario dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuário
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to logout_session_user_path, class:"dropdown-item" do %>
              Sair
            <% end %>
            <%= link_to frontend_user_path(current_user), class:"dropdown-item" do %>
              Perfil
            <% end %>
          <% else %>
            <%= link_to new_session_user_path, class:"dropdown-item" do %>
              Login
            <% end %>
            <%= link_to new_frontend_user_path, class:"dropdown-item" do %>
              Cadastrar
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
