<nav id="nav-novato" class="navbar fixed-top navbar-expand-lg navbar-light" style="margin: 0px; background: white;
 border-bottom: 1px solid #90CAF9;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
   style="border: none;">
    <i class="material-icons" style="color: #90CAF9;">school</i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class:"logo d-none d-lg-block") %>
    <% end %>
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px">
        <%= link_to root_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Home</span>
            <%= image_tag("nav-home", style:"margin-left: 5px; margin-right: 20px", class:"nav-icon") %>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px">
        <%= link_to list_posts_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Blog</span>
            <%= image_tag("nav-blog", style:"margin-left: 5px;", class:"nav-icon") %>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px">
        <%= link_to search_publications_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Vagas</span>
            <%= image_tag("nav-vacancies", style:"margin-left: 5px;", class:"nav-icon") %>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px; padding-right: 10px">
        <%= link_to new_session_employer_path, class:"nav-link", style:"margin-right: 30px" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Empregador</span>
            <%= image_tag("nav-employer", style:"margin-left: 5px;", class:"nav-icon") %>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px; padding-right: 10px">
        <%= link_to new_session_institution_path, class:"nav-link", style:"margin-right: 30px" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Instituição</span>
            <%= image_tag("nav-institution", style:"margin-left: 5px;", class:"nav-icon") %>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="border: 1px solid #BBDEFB; border-radius: 5px; margin: 0px 2px 0px; padding-left: 10px">
        <%= link_to list_user_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.2em;" class="link_nav">Perfis</span>
            <%= image_tag("nav-group", style:"margin-left: 5px;", class:"nav-icon") %>
          </div>
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" style="padding: 7px 0px 0px; padding-left: 20px"
        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons md-36" style="color: white; background: #BBDEFB; border-radius: 2px">person</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to logout_session_user_path, class:"dropdown-item" do %>
              Sair
            <% end %>
            <%= link_to frontend_user_path(current_user), class:"dropdown-item" do %>
              Perfil
            <% end %>
          <% else %>
            <%= link_to new_session_user_path, class:"dropdown-item" do %>
              Login
            <% end %>
            <%= link_to new_frontend_user_path, class:"dropdown-item" do %>
              Cadastrar
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
