<nav id="nav-novato" class="navbar fixed-top navbar-expand-lg navbar-light" style="margin: 0px; background: white;
 border-bottom: 1px solid #CFD8DC;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
   style="border: none;">
    <i class="material-icons" style="color: #90CAF9;">school</i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class:"logo d-none d-lg-block") %>
    <% end %>
    <ul class="navbar-nav ml-auto mr-auto" style="padding-left: 10px">
      <li class="nav-item" style="margin: 0px 2px 0px;">
        <%= link_to root_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <i class="material-icons md-24" style="padding-top: 5px">home</i>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="margin: 0px 2px 0px;">
        <%= link_to list_posts_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.1em;" class="link_nav">Blog</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="margin: 0px 2px 0px;">
        <%= link_to search_publications_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.1em;" class="link_nav">Vagas</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="margin: 0px 2px 0px;">
        <%= link_to new_session_employer_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.1em;" class="link_nav">Empregador</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="margin: 0px 2px 0px;">
        <%= link_to new_session_institution_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.1em;" class="link_nav">Instituição</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item" style="margin: 0px 2px 0px; margin-right: 25px">
        <%= link_to search_user_path, class:"nav-link" do %>
          <div class="d-flex align-items-center">
            <span style="font-size: 1.1em;" class="link_nav">Comunidade</span>
          </div>
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" style="padding: 15px 0px 5px;"
        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons md-24" style="color: #90A4AE">person</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to logout_session_user_path, class:"dropdown-item" do %>
              Sair
            <% end %>
            <%= link_to frontend_user_path(current_user), class:"dropdown-item" do %>
              Perfil
            <% end %>
          <% else %>
            <%= link_to new_session_user_path, class:"dropdown-item" do %>
              Login
            <% end %>
            <%= link_to new_frontend_user_path, class:"dropdown-item" do %>
              Cadastrar
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
