<section id="update_user_skill">
  <div class="container d-flex align-items-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <p>Adicione aqui suas habilidades</p>
        <%= simple_form_for @model, url: frontend_update_user_skill_path do |f| %>
          <div class="new" >
            <div class="new_skill">
              <div class="link_add">
                <i class="material-icons icon-add" style="color: white">playlist_add</i>
                <%= link_to_add_association "Add", f, :skills, style:"color: transparent; position: relative; left: 3px; top: -26px" %>
              </div>
            </div>
          </div>

          <div class="skills">
            <div class="row">
              <%= f.simple_fields_for :skills do |skill| %>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <%= render 'skill_fields', f: skill %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <%= button_tag(class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."}) do %>
              <div class="d-flex">
                <span class="material-icons" style="">check</span>
                <span style="margin-left: 5px">Salvar</span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
