<section class="medium-top">
		<div class="container">
			<div class='row'>
				<div class="col-lg-6 offset-lg-3">

          <% unless flash[:notice] %>

            <p>Digite seu email cadastrado para recuperação da senha!</p>

          	<% if flash[:alert] %>
    					<p class='error medium-bottom blink'><%= flash[:alert] %></p>
            <% end %>
            
            <%= simple_form_for(:admin, url: :reset_password, method: :post) do |f| %>
      				<%= f.input :email, label: 'Email', required: false %>
      				<center>
      					<%= f.button :button, class: 'btn btn-primary medium-top  btn-custom' do %>
      						Enviar
      					<% end %>
      				</center>
      			<% end %>

          <% else %>
            <p class='success medium-bottom blink'><%= flash[:notice] %></p>
          <% end %>
				</div>
			</div>
		</div>
	</section>
