<section class="medium-top" style="min-height: 100vh; background: #ECEFF1; padding-top: 100px;">
		<div class="container">
			<div class='row'>
				<div class="col-lg-6 offset-lg-3">
          <% unless flash[:notice] %>
          	<% if flash[:alert] %>
    					<p class='error medium-bottom blink'><%= flash[:alert] %></p>
            <% end %>

            <%= simple_form_for(:admin, url: :reset_password, method: :post) do |f| %>
      				<%= f.input :email, label: false, placeholder:'digite seu e-mail', required: false %>
      				<center>
      					<%= f.button :button, class: 'btn btn-primary medium-top  btn-custom' do %>
      						Enviar
      					<% end %>
      				</center>
      			<% end %>

          <% else %>
            <p class='success medium-bottom blink'><%= flash[:notice] %></p>
          <% end %>
				</div>
			</div>
		</div>
	</section>
