<section id="list_publication">
  <div class="container-fluid publication" style="padding: 0px">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10" style="background: white;">
        <%= link_to show_publication_path(row), method:"get" do %>
          <div class="row d-flex justify-content-center" style="margin-bottom: 10px">
            <div class="col-10 col-md-10 d-flex flex-column" style="padding-top: 10px">
              <span class="title"><%= row.title %></span>
              <span style="color: #B0BEC5">Vagas: <%= row.vacancies %></span>
              <% if row.remunaration.present? %>
                <span style="color: #B0BEC5">R$ <%= row.remunaration %></span>
              <% else %>
                <span class="no-remunaration">remuneração não informada</span>
              <% end %>
            </div>
            <div class="col-2 col-md-1" style="padding: 0px">
              <p style="color: #B0BEC5; font-size: 0.7em" class="d-lg-none"><%= row.created_at.strftime("%d #{helper_month_post(row.created_at.month)} %y") %></p>
              <p style="color: #B0BEC5" class="d-none d-lg-block"><%= row.created_at.strftime("%d #{helper_month_post(row.created_at.month)} %y") %></p>
            </div>
          </div>
        <% end %>

        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-11 d-flex justify-content-end">
            <div class="d-flex">
              <i id="btn<%= row.slug %>"class="material-icons md-24" style="color: #B0BEC5; padding-top: 3px;">share</i>
              <div id="<%= row.slug %>">
                <% url = "https://novato-irece.herokuapp.com/show_publication/#{row.slug}" %>
                <%= social_share_button_tag(url, url: url, desc: row.title) %>
              </div>
            </div>
          </div>
        </div>
        <%= link_to show_publication_path(row), method:"get" do %>
          <div class="row body d-flex justify-content-center">
            <div class="col-12 col-md-11" style="padding: 0px;">
              <div class="" style="padding: 10px;">
                <% text =  strip_tags(row.information) %>
                <p class="information d-md-none"><%= truncate(text, length: 100) %></p>
                <p class="information d-none d-md-block"><%= truncate(text, length: 200) %></p>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $("#<%= row.slug %>").toggle();
    $("#btn<%= row.slug %>").click(function(){
      $("#<%= row.slug %>").toggle('slow');
    });
  });
</script>
