<%= simple_form_for @model, url: entity_institution_profile_path do |f| %>

  <div class="input_title">
    <%= f.input :name, label: 'Nome' %>
  </div>

  <%= f.simple_fields_for :institution_extra do |extra| %>
    <div class="custon_field left-addon input_small" style="margin-top: 30px">
      <div class="icon">
        <i class="material-icons" style="color: white;">call</i>
      </div>
      <%= extra.input :phone, label: false, placeholder:"telefone", class:"form-control" %>
    </div>
    <%= extra.input :about, label:"Sobre a instituição de ensino", input_html: { rows: 7 } %>
  <% end %>

  <%= button_tag(class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."}) do %>
    <div class="d-flex">
      <span class="material-icons" style="">check</span>
      <span style="margin-left: 5px">Salvar</span>
    </div>
  <% end %>

<% end %>
