<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <%= link_to backoffice_root_path, class:'navbar-brand mr-1' do %>
    Ãrea administrativa
  <% end %>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
  <ul class="navbar-nav ml-auto ml-md-0">

    <li class="nav-item no-arrow mx-1">
      <%= link_to backoffice_publications_path, class:'nav-link' do %>
        <div class="d-flex">
          <i class="material-icons" style="">view_headline</i>
          <span>Vagas</span>
        </div>
      <% end %>
    </li>

    <li class="nav-item dropdown no-arrow mx-1">
      <%= link_to backoffice_posts_path, class:'nav-link dropdown-toggle' do %>
        <div class="d-flex">
          <i class="material-icons">comment</i>
          <span>Blog</span>
        </div>
      <% end %>
    </li>

    <li class="nav-item no-arrow mx-1">
      <%= link_to backoffice_messages_path, class:'nav-link' do %>
        <div class="d-flex">
          <i class="material-icons" style="">email</i>
          <span>Mensagens</span>
        </div>
      <% end %>
    </li>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">face</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <%= link_to backoffice_profile_path, class:'dropdown-item' do %>
          Perfil
        <% end %>
        <%= link_to logout_session_path, class:'dropdown-item' do %>
          Sair
        <% end %>
      </div>
    </li>
  </ul>
</nav>
