<!DOCTYPE html>
<html>

  <head>
    <title>Administrador</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'backoffice', media: 'all' %>
  </head>

  <body>
    <div class="page">
      <%= render partial: "layouts/backoffice/nav" %>
      <%= render partial: "layouts/backoffice/wrapper" %>
      <%= render partial: "layouts/backoffice/logout" %>
    </div>
    <%= javascript_include_tag 'backoffice' %>
  </body>
</html>
