<!DOCTYPE html>
<html>

  <head>
    <title>Novato Irecê</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'frontend', media: 'all' %>
    <%= stylesheet_link_tag 'user/_variables', media: 'all' %>
    <%= stylesheet_link_tag 'user/style', media: 'all' %>
    <%= javascript_include_tag 'frontend' %>
  </head>

  <body id="frontend">
    <div class="page" style="overflow-x: hidden;">
      <%= render partial: "layouts/notification/flash_messages" %>
      <%= render partial:"layouts/frontend/nav" %>
        <%= yield %>
      <%= render partial:"layouts/frontend/footer" %>
    </div>
  </body>
</html>
