<!DOCTYPE html>
<html>

  <head>
    <title>Novato Irecê</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'frontend', media: 'all' %>
    <%= stylesheet_link_tag 'user/_variables', media: 'all' %>
    <%= stylesheet_link_tag 'user/style', media: 'all' %>
    <%= javascript_include_tag 'frontend' %>
  </head>

  <body>
      <div id="user_profile" class="page">
        <%= render partial:"layouts/frontend/nav" %>
        <!-- Left Panel -->
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
              <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="material-icons" style="color: #BBDEFB;">account_circle</i>
                  </button>
              </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="menu-item menu-left-mobile">
                            <%= link_to root_path do %>
                              <i class="menu-icon material-icons md-18" style="color: white;">home</i>Início
                            <% end %>
                        </li>
                        <h3 class="menu-title">Usuário</h3><!-- /.menu-title -->

                        <li class="menu-item">
                            <%= link_to frontend_user_path(current_user), method: "get" do %>
                              <i class="menu-icon material-icons md-18" style="color: white">person</i>
                              Perfil
                            <% end %>
                        </li>
                        <li class="menu-item">
                            <%= link_to frontend_update_user_cover_path, method: "get" do %>
                              <i class="menu-icon material-icons md-18" style="color: white">insert_photo</i>Foto de capa
                            <% end %>
                        </li>
                        <li class="menu-item">
                            <%= link_to logout_session_user_path do %>
                              <i class="menu-icon material-icons md-18" style="color: white">exit_to_app</i>
                              Logout
                            <% end %>
                        </li>

                        <% if current_user.provider.blank? %>
                          <h3 class="menu-title">Segurança</h3><!-- /.menu-title -->
                          <li class="menu-item-has-children dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon material-icons md-18" style="color: white;">lock</i>Senha</a>
                              <ul class="sub-menu children dropdown-menu">
                                <li class="menu-icon">
                                  <i class="menu-icon material-icons md-18" style="color: white;">lock_open</i>
                                  <%= link_to frontend_update_user_password_path do %>
                                    Alterar senha
                                  <% end %>
                                </li>
                              </ul>
                          </li>
                        <% end %>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->
        <!-- Left Panel -->


        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
          <%= yield %>
        </div><!-- /#right-panel -->
      </div><!-- end page -->
  </body>
</html>
